.my-component {
  width: 700px;
  border: 2px dashed #d2be54;
  border-radius: 7px;
  padding: 1rem;
}

.my-component h2 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: green;
  text-align: center;
}

.my-component p {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  color: #2d29d2;
  font-weight: 500;
}
