<div class="container">
  <h1>{{name}}</h1>
  <hr>
  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Title" [(ngModel)]="todoTitle">
    </div>
    <button class="btn" (click)="addTodo()">Add</button>
    <button class="btn" (click)="fetchTodoList()">Upload</button>
  </div>
  <hr>
  <div *ngIf="!loading; else loadingBlock">
    <div *ngIf="todoList.length !== 0; else noTodo">
      <div class="card" *ngFor="let todo of todoList">
        <p>
          <span [class.completed]="todo.completed">{{todo.title | titlecase}}</span>
          <span>
        <button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
        <button class="btn" [disabled]="todo.completed">Complete</button>
      </span>
        </p>
      </div>
    </div>
  </div>

  <ng-template #loadingBlock>
    <p>Loading...</p>
  </ng-template>
  <ng-template #noTodo>
    <p>Empty list...</p>
  </ng-template>
</div>
