<div class="my-component">
  <h2>
    This is my {{title}}
  </h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at consectetur, cupiditate facere fuga, fugiat id,
    ipsam laborum maxime modi molestiae natus nemo officiis quidem quos rem reprehenderit sapiente similique. Accusamus,
    adipisci architecto corporis cum cumque cupiditate ducimus esse eum exercitationem fugit illum inventore iure labore
    minus nostrum pariatur, quaerat quas, quia quo quod reiciendis repellat sint unde. Adipisci, dolorem expedita
    inventore magnam placeat sunt vel! Alias amet, aperiam atque aut consequuntur cupiditate deleniti dolorem, eos est
    id, incidunt nulla odio quae reiciendis soluta temporibus voluptate. Architecto consequatur exercitationem illo
    quidem quos! Aut, placeat, veritatis? Cumque doloribus numquam quae voluptatibus.</p>
</div>
